<div id="admin">
  <h2>Admin Dashboard</h2>
  <div id="createUser">
  <h3>Create User</h3>
    <div id="createuserform">
      <form (submit)="createUser();" id="createUser">
        <p>Username</p>
        <input name="username" placeholder="Username.." [(ngModel)]='username'>
        <br>
        <p>Email</p>
        <input name="email" placeholder="Email.." [(ngModel)]='email'>
        <br>
        <p>Role</p>
        <select [(ngModel)]="role" name="role">
          <option value="user">User</option>
          <option value="groupAdmin">Group Admin</option>
          <option value="superAdmin">Super Admin</option>
        </select>
        <br><br>
        <button type="submit">Create</button>
      </form>
    </div>
  </div>

  <br>

  <div id="deleteUser">
    <h3>Delete User</h3>
    <form (submit)="deleteUser(deletedUser);">
        <select placeholder="Delete User" [(ngModel)]="deletedUser" name="deluser">
          <option *ngFor="let user of users" [value]="user.name">
            {{user.name}}
          </option>
        </select>
      <p> Selected User to Delete:</p> <p class="delete">{{deletedUser}}</p>
      <button type="submit">Delete</button>
    </form>
  </div>

  <div id="createGroup">
    <h3>Create New Group</h3>
    <form (submit)="createGroup();">
      <p>Group Name</p>
      <input name="groupname" placeholder="Group Name.." [(ngModel)]='groupname'>
      <br>
      <br>
      <button type="submit">Create</button>
    </form>
  </div>

  <div id="deleteGroup">
    <h3>Delete Group</h3>
    <form (submit)="deleteGroup(deletedGroup);">
        <select placeholder="Delete Group" [(ngModel)]="deletedGroup" name="delgroup">
          <option *ngFor="let group of groups" [value]="group.name">
            {{group.name}}
          </option>
        </select>
      <p> Selected Group to Delete:</p> <p class="delete">{{deletedGroup}}</p>
      <button type="submit">Delete</button>
    </form>
  </div>
</div>
